@import 'style-guide';

#navbar{  
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 8rem;
  border-bottom: 1px solid $border;

  a{
    color: $color-text;
  }

  h1{
    font-size: 3rem;
  }

  ul{
    display: flex; 
    align-items: center;
    list-style-type: none;
  
    li{
      font: 400 1.8rem $font-type;

      a{
        color: $color-text;
      }

      transition: opacity .3s;

      &:hover{
        opacity: .8;
      }
    }

    .btn{
      display: flex;
      align-items: center;

      margin-left: 2.6rem;
      padding: .6rem 1.6rem;
      background: linear-gradient(224.78deg, #5390E3 8.12%, #1357B3 92.21%);
      border-radius: 4px;
    }
  }
}
