#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8rem;
  border-bottom: 1px solid #151B26;
}
#navbar a {
  color: #D8DBE3;
}
#navbar h1 {
  font-size: 3rem;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
#navbar ul li {
  font: 400 1.8rem "Rubik", sans-serif;
  transition: opacity 0.3s;
}
#navbar ul li a {
  color: #D8DBE3;
}
#navbar ul li:hover {
  opacity: 0.8;
}
#navbar ul .btn {
  display: flex;
  align-items: center;
  margin-left: 2.6rem;
  padding: 0.6rem 1.6rem;
  background: linear-gradient(224.78deg, #5390E3 8.12%, #1357B3 92.21%);
  border-radius: 4px;
}

.container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.container-all h1 {
  font-size: 2.4rem;
}
.container-all .task-empty {
  margin-top: 1.6rem;
}
.container-all .task-empty p {
  font-size: 1.4rem;
}
.container-all .task-list {
  margin-top: 2rem;
  width: 80%;
  max-width: 70rem;
}
.container-all .task-list .task-view .content-task {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  height: 12rem;
  margin-left: 1.6rem;
  margin-bottom: 2rem;
  padding: 3.2rem;
  border: 1px solid #151B26;
}
.container-all .task-list .task-view .content-task .title {
  color: #D8DBE3;
  font-size: 2rem;
  max-width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-all .task-list .task-view .content-task .actions {
  display: flex;
  justify-content: flex-end;
}
.container-all .task-list .task-view .content-task .actions .btn {
  border: 1px solid #D8DBE3;
  border-radius: 2px;
  padding: 0.6rem;
  margin-left: 1rem;
  background-color: #06090F;
  color: #D8DBE3;
  transition: opacity 0.2s;
}
.container-all .task-list .task-view .content-task .actions .btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.container-all .task-list .task-view .content-task .actions .btn-edit {
  height: 2.89rem;
}

.container-inputs {
  text-align: center;
  margin-top: 8rem;
}
.container-inputs h1 {
  font-size: 2.4rem;
  margin-bottom: 2.6rem;
}

.forms {
  color: #595A5C;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  max-width: 38.4rem;
  height: 4.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border: none;
  border-radius: 4px;
  background-color: #151B26;
}

.forms::-moz-placeholder {
  font-size: 1.6rem;
}

.forms::placeholder {
  font-size: 1.6rem;
}

.form-area {
  font-family: "Rubik", sans-serif;
  height: 7.8rem;
  margin-top: 1.6rem;
  padding: 1.6rem;
  resize: none;
}

.btn-primary {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  max-width: 38.4rem;
  height: 4.8rem;
  border: none;
  border-radius: 4px;
  color: #FAFCFC;
  background: linear-gradient(224.78deg, #5390E3 8.12%, #1357B3 92.21%);
  transition: opacity 0.3s;
}
.btn-primary:hover {
  opacity: 0.8;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 60.5%;
}

body {
  background-color: #06090F;
  color: #D8DBE3;
  font-family: "Rubik", sans-serif;
}

a {
  list-style-type: none;
  text-decoration: none;
}

.title.done {
  text-decoration: line-through;
  opacity: 0.2;
}/*# sourceMappingURL=main.css.map */