@import 'style-guide';
@import 'header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  background-color: $color-background;
  color: #D8DBE3;
  font-family: $font-type;

}